@model ShannonTech.Models.ManufacturerViewModel

@{
    ViewData["Title"] = "Add Manufacturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout | With Floating Label -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add a new Manufacturer
                        </h2>
                        <ul class="header-dropdown m-r--5"> 
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form asp-action="Create">
                            <div class="row form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>Name</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="Name" class="form-control" type="text" placeholder="Enter client name" required />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>Brand Name</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="BrandName" class="form-control" type="text" placeholder="Enter client name" required />
                                            <span asp-validation-for="BrandName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>Location</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="Location" class="form-control" type="text" placeholder="Enter Manufacturer Location" required />
                                            <span asp-validation-for="Location" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>BIS Manufacturer Login Id </b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="LoginId" class="form-control" type="text" placeholder="Enter BIS Manufacturer Login Id" required />
                                            <span asp-validation-for="LoginId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>BIS Manufacturer Login Password</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="LoginPassword" class="form-control" type="text" placeholder="Enter BIS Manufacturer Login Password" required />
                                            <span asp-validation-for="LoginPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>Contact person </b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="ContantName" class="form-control" type="text" placeholder="Enter the manufacturer contant person name" required />
                                            <span asp-validation-for="ContantName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>Contant Person Email</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="ContactEmail" class="form-control" type="text" placeholder="Enter the manufacturer contant person Phone Number" required />
                                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>AIR Name</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="AIRName" class="form-control" type="text" placeholder="Enter the manufacturer AIR Name" required />
                                            <span asp-validation-for="AIRName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>AIR Phone Number</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="AIRPhoneNumber" class="form-control" type="text" placeholder="Enter the manufacturer AIR Phone Number" required />
                                            <span asp-validation-for="AIRPhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>AIR Email</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="AIREmail" class="form-control" type="email" placeholder="Enter the manufacturer AIR Email" required />
                                            <span asp-validation-for="AIREmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>AIR Designation</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="AIRDesignation" class="form-control" type="text" placeholder="Enter the manufacturer AIR Designation" required />
                                            <span asp-validation-for="AIRDesignation" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <b>AIR Company</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input asp-for="AIRCompany" class="form-control" type="text" placeholder="Enter the manufacturer AIR Company" required />
                                            <span asp-validation-for="AIRCompany" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4">
                                    <button type="submit" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 btn btn-primary m-t-15 waves-effect">
                                        <h4>
                                            Add Manufacturer
                                        </h4>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>