@model SHTData.Models.Manufacturer

@{
    ViewData["Title"] = "Manufacturer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SHTData.Models.Product> manufacturerProducts = (IEnumerable<SHTData.Models.Product>)ViewData["ManufacturerProducts"];
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h1>Manufacturer Information</h1>
        </div>
        <!-- Basic Example -->
        <div class="row clearfix">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-cyan">
                            <h2>
                                <b>Manufacturer Details</b>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="m-b--35"> <b>@Model.Name - &nbsp;</b>@Model.Location</div>
                            <ul class="dashboard-stat-list">
                                <li>
                                    Brand Name
                                    <span class="pull-right"><b>@Model.BrandName</b></span>
                                </li>
                                <li>
                                    BIS Login
                                    <span class="pull-right"><b>@Model.LoginId</b></span>
                                </li>
                                <li>
                                    BIS Password
                                    <span class="pull-right"><b>@Model.LoginPassword</b></span>
                                </li>
                                <li>
                                    Contact Name
                                    <span class="pull-right"><b>@Model.ContantName</b></span>
                                </li>
                                <li>
                                    Contact Email
                                    <span class="pull-right"><b>@Model.ContactEmail</b></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-cyan">
                            <h2>
                                <b>Indian Representative Details</b>
                            </h2>
                        </div>
                        <div class="body">
                            <ul class="dashboard-stat-list" style="margin-top:0px">
                                <li>
                                    AIR name
                                    <span class="pull-right"><b>@Model.AIRName</b></span>
                                </li>
                                <li>
                                    AIR Phone No.
                                    <span class="pull-right"><b>@Model.AIRPhoneNumber</b></span>
                                </li>
                                <li>
                                    AIR Email
                                    <span class="pull-right"><b>@Model.AIREmail</b></span>
                                </li>
                                <li>
                                    AIR Designation
                                    <span class="pull-right"><b>@Model.AIRDesignation</b></span>
                                </li>
                                <li>
                                    AIR Company
                                    <span class="pull-right"><b>@Model.AIRCompany</b></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Example -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>
                        Manufacturer's Projects Exportable
                    </h2>
                </div>
                <div class="body">
                    @{
                        await Html.RenderPartialAsync("_ModelsTable", manufacturerProducts);
                    }

                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>