@model SHTData.Models.Manufacturer

@{
    ViewData["Title"] = "Manufacturer Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout | With Floating Label -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Edit Manufacturer- @Model.Name
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form asp-action="Edit">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BrandName" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="BrandName" class="form-control" />
                                        <span asp-validation-for="BrandName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Location" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Location" class="form-control" />
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LoginId" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="LoginId" class="form-control" />
                                        <span asp-validation-for="LoginId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LoginPassword" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="LoginPassword" class="form-control" />
                                        <span asp-validation-for="LoginPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ContantName" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ContantName" class="form-control" />
                                        <span asp-validation-for="ContantName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ContactEmail" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ContactEmail" class="form-control" />
                                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AIRName" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="AIRName" class="form-control" />
                                        <span asp-validation-for="AIRName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AIRPhoneNumber" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="AIRPhoneNumber" class="form-control" />
                                        <span asp-validation-for="AIRPhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AIREmail" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="AIREmail" class="form-control" />
                                        <span asp-validation-for="AIREmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AIRDesignation" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="AIRDesignation" class="form-control" />
                                        <span asp-validation-for="AIRDesignation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AIRCompany" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="AIRCompany" class="form-control" />
                                        <span asp-validation-for="AIRCompany" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>