@model IEnumerable<SHTData.Models.Manufacturer>

@{
    ViewData["Title"] = "All Manufacturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Manufacturers Exportable
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Brand Name
                                        </th>
                                        <th>
                                            Location
                                        </th>
                                        <th>
                                            BIS Login Id
                                        </th>
                                        <th>
                                            BIS Password
                                        </th>
                                        <th>
                                            Contant Name
                                        </th>
                                        <th>
                                            Contact Email
                                        </th>
                                        <th>
                                            AIR Info
                                        </th>
                                        <th>
                                            Options
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BrandName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Location)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LoginId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LoginPassword)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContantName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactEmail)
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#@item.Id">AIR Info</button>
                                                <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" style="display: none;">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="defaultModalLabel">Air Info of @item.Name</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ul class="dashboard-stat-list" style="margin-top:0px">
                                                                    <li>
                                                                        AIR Name
                                                                        <span class="pull-right"><b>@Html.DisplayFor(modelItem => item.AIRName)</b></span>
                                                                    </li>
                                                                    <li>
                                                                        AIR Phone Number
                                                                        <span class="pull-right"><b>@Html.DisplayFor(modelItem => item.AIRPhoneNumber)</b></span>
                                                                    </li>
                                                                    <li>
                                                                        AIR Email
                                                                        <span class="pull-right"><b>@Html.DisplayFor(modelItem => item.AIREmail)</b></span>
                                                                    </li>
                                                                    <li>
                                                                        AIR Designation
                                                                        <span class="pull-right"><b>@Html.DisplayFor(modelItem => item.AIRDesignation)</b></span>
                                                                    </li>
                                                                    <li>
                                                                        AIR Company
                                                                        <span class="pull-right"><b>@Html.DisplayFor(modelItem => item.AIRCompany)</b></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                                                                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
