@model SHTData.Models.Model

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestReportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestReportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestReportReceivedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestReportReceivedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
