﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - ShannonTech</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/AdminBSBMaterialDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/AdminBSBMaterialDesign/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/AdminBSBMaterialDesign/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="~/AdminBSBMaterialDesign/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="~/AdminBSBMaterialDesign/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/AdminBSBMaterialDesign/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/AdminBSBMaterialDesign/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/AdminBSBMaterialDesign/css/themes/all-themes.css" rel="stylesheet" />


    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @Html.Raw(JavaScriptSnippet.FullScript)*@


</head>
<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    @*<!-- Search Bar -->
        <div class="search-bar">
            <div class="search-icon">
                <i class="material-icons">search</i>
            </div>
            <input type="text" placeholder="START TYPING...">
            <div class="close-search">
                <i class="material-icons">close</i>
            </div>
        </div>
        <!-- #END# Search Bar -->*@
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" asp-action="dashboard" asp-controller="Home">Shannon Technologies</a>
            </div>
            <div class="collapse navbar-collapse pull-right p-t-10" id="navbar-collapse">
                <form asp-action="logout" asp-controller="Account" method="post">
                    <button type="submit" class="btn bg-teal waves-effect">
                        <i class="material-icons">exit_to_app</i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            @*<div class="user-info">
                    <div class="image">
                        <img src="images/user.png" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                        <div class="email">john.doe@example.com</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                                <li role="seperator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                                <li role="seperator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Dashboard">
                            <i class="material-icons">layers</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>Clients</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a asp-controller="Clients" asp-action="Index">
                                    <i class="material-icons">layers</i>
                                    <span>All Clients</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Clients" asp-action="Create">
                                    <i class="material-icons">layers</i>
                                    <span>Add new Client</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>Projects</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a asp-controller="Projects" asp-action="Index">
                                    <i class="material-icons">home</i>
                                    <span>All Projects</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Projects" asp-action="Create">
                                    <i class="material-icons">text_fields</i>
                                    <span>Add New Projects</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>Manufacturers</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a asp-controller="Manufacturers" asp-action="Index">
                                    <i class="material-icons">layers</i>
                                    <span>All Manufacturer</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Manufacturers" asp-action="Create">
                                    <i class="material-icons">layers</i>
                                    <span>Add new Manufacturer</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>Laboratories</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a asp-controller="Laboratories" asp-action="Index">
                                    <i class="material-icons">layers</i>
                                    <span>All Laboratories</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Laboratories" asp-action="Create">
                                    <i class="material-icons">layers</i>
                                    <span>Add new Laboratory</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">assignment</i>
                                <span>Representatives</span>
                            </a>
                            <ul class="ml-menu" style="display: none;">
                                <li>
                                    <a asp-controller="Representatives" asp-action="Index">
                                        <i class="material-icons">layers</i>
                                        <span>All AIRs</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Representatives" asp-action="AddAIR">
                                        <i class="material-icons">layers</i>
                                        <span>Add new AIR</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    <li>
                        <a asp-controller="Representatives" asp-action="Index">
                            <i class="material-icons">layers</i>
                            <span>All Invoices</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>

    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/raphael/raphael.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/AdminBSBMaterialDesign/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    @*<script src="~/AdminBSBMaterialDesign/plugins/flot-charts/jquery.flot.js"></script>
        <script src="~/AdminBSBMaterialDesign/plugins/flot-charts/jquery.flot.resize.js"></script>
        <script src="~/AdminBSBMaterialDesign/plugins/flot-charts/jquery.flot.pie.js"></script>
        <script src="~/AdminBSBMaterialDesign/plugins/flot-charts/jquery.flot.categories.js"></script>
        <script src="~/AdminBSBMaterialDesign/plugins/flot-charts/jquery.flot.time.js"></script>*@

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/AdminBSBMaterialDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>


    <!-- Custom Js -->
    <script src="~/AdminBSBMaterialDesign/js/admin.js"></script>
    <script src="~/AdminBSBMaterialDesign/js/pages/tables/jquery-datatable.js"></script>
    @*<script src="~/AdminBSBMaterialDesign/js/pages/index.js"></script>*@
    <!-- Demo Js -->
    <script src="~/AdminBSBMaterialDesign/js/demo.js"></script>
</body>
</html>
