@model IEnumerable<SHTData.Models.Product>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
            <tr>
                <th>
                    R. No.
                </th>
                <th>
                    CRS No.
                </th>
                <th>
                    Project Category
                </th>
                <th>
                    Project Status
                </th>
                <th>
                    Description
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                Newtonsoft.Json.Linq.JObject models = Newtonsoft.Json.Linq.JObject.Parse(product.Models);
                for (int i = 1; i <= models.Count; i++)
                {
                    string index = i.ToString();
                    ShannonTech.Models.ProductModels ProductModel = Newtonsoft.Json.JsonConvert.DeserializeObject<ShannonTech.Models.ProductModels>(models[index].ToString());
                    <tr>
                        <td>
                            @if (product.RegistrationNumber == null)
                            {
                                <span style="font-size:13px" class="label label-danger">
                                    Not available
                                </span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => product.RegistrationNumber)
                            }
                        </td>
                        <td>
                            @if (product.CRSNumber == null)
                            {
                                <span style="font-size:13px" class="label label-danger">
                                    Not available
                                </span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => product.CRSNumber)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.ProjectCategory)
                        </td>
                        <td>
                            @if (product.ProjectStatus == "Started")
                            {
                                <span style="font-size:13px" class="label bg-cyan">
                                    Started
                                </span>
                            }
                            else if (product.ProjectStatus == "In Process")
                            {
                                <span style="font-size:13px" class="label bg-primary">
                                    In Process
                                </span>
                            }
                            else if (product.ProjectStatus == "Query")
                            {
                                <span style="font-size:13px" class="label label-warning">
                                    Query
                                </span>
                            }
                            else if (product.ProjectStatus == "Granted")
                            {
                                <span style="font-size:13px" class="label bg-light-green">
                                    Granted
                                </span>
                            }
                            else if (product.ProjectStatus == "Project Done")
                            {
                                <span style="font-size:13px" class="label label-success">
                                    Project Done
                                </span>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#@index@ProductModel.Id">Product Models Details</button>
                            <div class="modal fade" id="@index@ProductModel.Id" tabindex="-1" role="dialog" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" style="padding:0px!important">
                                            <div>
                                                <div class="header bg-cyan">
                                                    <h2>
                                                        <b>Product Models Details</b>
                                                    </h2>
                                                </div>
                                                <div class="body">
                                                    <div class="m-b--35"> </div>
                                                    <ul class="dashboard-stat-list">
                                                        <li>
                                                            Models :
                                                            <span class="pull-right"><b>  @Html.DisplayFor(modelItem => ProductModel.ModelNumbers)</b></span>
                                                        </li>
                                                        <li>
                                                            Test Report Number :
                                                            <span class="pull-right">
                                                                <b>
                                                                    @if (ProductModel.TestReportNumber == null)
                                                                    {
                                                                        <span style="font-size:13px" class="label label-danger">
                                                                            Not available
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DisplayFor(modelItem => ProductModel.TestReportNumber)
                                                                    }
                                                                </b>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            Test Report Received Date :
                                                            <span class="pull-right">
                                                                <b>
                                                                    @if (ProductModel.TestReportReceivedDate == null)
                                                                    {
                                                                        <span style="font-size:13px" class="label label-danger">
                                                                            Not available
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        @ProductModel.TestReportReceivedDate.ToString("dddd, dd MMMM yyyy")
                                                                    }
                                                                </b>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            Models Description :
                                                            <span class="pull-right"><b>  @Html.DisplayFor(modelItem => ProductModel.Description)</b></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@product.Id">Edit</a>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@product.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
