@model IEnumerable<SHTData.Models.Product>
@{
    bool isInclusion;
    if (ViewData["isInclusion"] == null)
    {
        isInclusion = false;
    }
    else
    {
        isInclusion = (bool)ViewData["isInclusion"];
    }
}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
            <tr>
                <th>
                    Brand Name
                </th>
                <th>
                    Product Type
                </th>
                <th>
                    Project Category
                </th>
                <th>
                    CRS Number
                </th>
                @*<th>
                        Test Report Number
                    </th>*@
                <th>
                    Target Date
                </th>
                <th>
                    Project Status
                </th>
                <th>
                    R. No.
                </th>
                @*<th>
                        Test Report Received Date
                    </th>*@
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectCategory)
                    </td>
                    <td>
                        @if (item.CRSNumber == null)
                        {
                            <span style="font-size:13px" class="label label-danger">
                                Not available
                            </span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.CRSNumber)
                        }
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.TestReportNumber)
                        </td>*@
                    <td>
                        @item.TargetDate.ToString("dddd, dd MMMM yyyy")
                    </td>
                    <td>
                        @if (item.ProjectStatus == "Started")
                        {
                            <span style="font-size:13px" class="label bg-cyan">
                                Started
                            </span>
                        }
                        else if (item.ProjectStatus == "In Process")
                        {
                            <span style="font-size:13px" class="label bg-primary">
                                In Process
                            </span>
                        }
                        else if (item.ProjectStatus == "Query")
                        {
                            <span style="font-size:13px" class="label label-warning">
                                Query
                            </span>
                        }
                        else if (item.ProjectStatus == "Granted")
                        {
                            <span style="font-size:13px" class="label bg-light-green">
                                Granted
                            </span>
                        }
                        else if (item.ProjectStatus == "Project Done")
                        {
                            <span style="font-size:13px" class="label label-success">
                                Project Done
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.CRSNumber == null)
                        {
                            <span style="font-size:13px" class="label label-danger">
                                Not available
                            </span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        }
                    </td>
                    @*<td>
                            @item.TestReportReceivedDate.ToString("dddd, dd MMMM yyyy")
                        </td>*@
                    <td>
                        @if (isInclusion == false)
                        {
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">Details</a>
                        }
                        else
                        {
                            <a asp-action="" asp-controller="Projects" asp-route-id="@item.Id">Add models for inclusion</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>