@model SHTData.Models.Client

@{
    ViewData["Title"] = "Client Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<section class="content" style="margin-top:40px">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            @Model.Name products Exportable
                        </h2>
                    </div>
                    <div class="body">
                        @{
                            await Html.RenderPartialAsync("_ProductTable",Model.Products);
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>