@model SHTData.Models.Laboratory

@{
    ViewData["Title"] = "Laboratory Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Laboratory -@Model.Name
                        </h2>
                    </div>
                    <div class="body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Location)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Location)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactPersonName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ContactPersonName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactPersonPhoneNumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ContactPersonPhoneNumber)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
