@model SHTData.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProductJson = Model.Models != null ? Model.Models.ToString() : "0";
}
<style>
    table {
        width: 100%;
        font: 17px Calibri;
    }

    table, th, td {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout | With Floating Label -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add Models
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <input id="CurrentProductId" name="CurrentProductId" value=@Model.Id type="hidden" />
                        <ps>
                            Click the "Add New Row" button to add row to the table. Enter values in each row and press the "Submit Data" button. You can check the result in project description</p>
                            <p>
                                <input type="button" id="addRow" value="Add New Row" onclick="addRow()" />
                                <input type="hidden" id="DbData" value="@ProductJson" />
                            </p>

                            <!--THE CONTAINER WHERE WE'll ADD THE DYNAMIC TABLE-->
                            <div id="cont"> </div>
                            <p><input type="button" id="bt" value="Sumbit Data" onclick="sumbit()" /></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>

<script src="~/js/AddModels.js"></script>
<script>
    var DbData = document.getElementById("DbData").value;
    DbData = JSON.parse(DbData);
    window.onload = function () {
        createTable();
        if (DbData != 0) {
            addDataRows(DbData);
        }
    };
</script>

