﻿@model SHTData.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<SHTData.Models.Manufacturer> ManufacturerList = (IEnumerable<SHTData.Models.Manufacturer>)ViewData["Manufacturers"];
    IEnumerable<SHTData.Models.Product> ProductList = (IEnumerable<SHTData.Models.Product>)ViewData["Products"];
    IEnumerable<SHTData.Models.Laboratory> LaboratoryList = (IEnumerable<SHTData.Models.Laboratory>)ViewData["Laboratories"];
    IEnumerable<SHTData.Models.Client> ClientList = (IEnumerable<SHTData.Models.Client>)ViewData["Clients"];
    ViewData["isInclusion"] = true;
}

<section class="content">
    <div class="container-fluid">
        <!-- Example Tab -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active col-md-4 col-sm-4" style="margin-bottom:0px;text-align:center;">
                                <a href="#new" data-toggle="tab">
                                    <h4>New Project</h4>
                                </a>
                            </li>
                            <li role="presentation" class="col-md-4 col-sm-3" style="margin-bottom:0px;text-align:center;">
                                <a href="#inclusion" data-toggle="tab">
                                    <h4>Inclusion</h4>
                                </a>
                            </li>
                            <li role="presentation" class="col-md-4 col-sm-3" style="margin-bottom:0px;text-align:center;">
                                <a href="#renewal" data-toggle="tab">
                                    <h4>Renewal</h4>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="new">
                                <form asp-action="Create">
                                    <input class="form-control" type="hidden" id="ProjectCategory" name="ProjectCategory" value="New">
                                    <div class="form-horizontal">
                                        <h5>Enter Product Details</h5>
                                        <hr />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <b>Client</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <select id="clientId" name="clientId" class="form-control show-tick" data-live-search="true" required>
                                                            <option value="">Select Client</option>
                                                            @foreach (SHTData.Models.Client item in ClientList)
                                                            {
                                                                <option value=@item.Id>@item.Name -- @item.Company </option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <b>Manufacturer</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <select id="manufactureId" name="manufactureId" class="form-control show-tick" data-live-search="true" required>
                                                        <option value="">Select Manufacturer</option>
                                                        @foreach (SHTData.Models.Manufacturer item in ManufacturerList)
                                                        {
                                                            <option value=@item.Id>@item.Name -- @item.Location  -- @item.BrandName </option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Product Type</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="ProductType" class="form-control" required />
                                                        <span asp-validation-for="ProductType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <b>Brand Name</b>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">date_range</i>
                                                        </span>
                                                        <div class="form-line">
                                                            <input asp-for="BrandName" class="form-control" type="text" required />
                                                            <span asp-validation-for="BrandName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Project Target Date</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="TargetDate" class="form-control date" type="date" placeholder="Ex: 30/07/2016" required />
                                                        <span asp-validation-for="TargetDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <b>Laboratory</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <select id="laboratoryId" name="laboratoryId" class="form-control show-tick" required>
                                                            <option value="">Select Laboratory</option>
                                                            @foreach (SHTData.Models.Laboratory item in LaboratoryList)
                                                            {
                                                                <option value=@item.Id>@item.Name -- @item.Location </option>
                                                            }
                                                        </select>
                                                        <span asp-validation-for="Laboratory" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center" style="padding:20px">
                                                <div class="switch panel-switch-btn">
                                                    <b>Do you have CRS Number and Product Registration Number? </b>
                                                    <div class="form-line">
                                                        <label>
                                                            NO
                                                            <input type="checkbox" id="myCheck" checked onclick="myFunction()">
                                                            <span class="lever switch-col-cyan"></span>
                                                            YES
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center" style="padding:20px">
                                                <div class="switch panel-switch-btn">
                                                    <b>Is this project done by Shanons Tech?</b>
                                                    <div class="form-line">
                                                        <label>
                                                            NO
                                                            <input type="hidden" name="NativeProject" id="NativeProject" value="true">
                                                            <input type="checkbox" checked id="NativeProjectCheckbox" onclick="NativeProjectfunction()">
                                                            <span class="lever switch-col-cyan"></span>
                                                            YES
                                                        </label>
                                                    </div>
                                                    <span asp-validation-for="NativeProject" class="text-danger" role="alert"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="RegistrationAndCrs">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Product Registration Number</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="RegistrationNumber" class="form-control" required />
                                                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>CRS Number</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="CRSNumber" class="form-control" required />
                                                        <span asp-validation-for="CRSNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Project Status</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <select id="ProjectStatus" name="ProjectStatus" class="form-control show-tick" required>
                                                            <option value="">Select Project category</option>
                                                            <option value="Started">Started</option>
                                                            <option value="In Process">In Process</option>
                                                            <option value="Query">Query</option>
                                                            <option value="Granted">Certification Granted</option>
                                                            <option value="Project Done">Project Done and Payment recieved</option>
                                                        </select>
                                                        <span asp-validation-for="ProjectStatus" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Sample Submission Date</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="SampleSubmissionDate" class="form-control date" type="date" placeholder="Ex: 30/07/2016" required />
                                                        <span asp-validation-for="SampleSubmissionDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <b>Date Of Expiry</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                    <div class="form-line">
                                                        <input asp-for="DateOfExpiry" class="form-control date" type="date" placeholder="Ex: 30/07/2016"/>
                                                        <span asp-validation-for="DateOfExpiry" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 align-center">
                                            <input type="submit" value="Add Models" class="btn btn-default" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="inclusion">
                                @{
                                    await Html.RenderPartialAsync("_ProductTable", ProductList, ViewData);
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="renewal">
                                <b>Coming Soon</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Example Tab -->
    </div>
</section>

<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            $("#RegistrationAndCrs").fadeIn(400);
            $('#CRSNumber').prop('required', true);
            $('#RegistrationNumber').prop('required', true);
        } else {
            $("#RegistrationAndCrs").fadeOut(400);
            $('#CRSNumber').prop('required', false);
            $('#RegistrationNumber').prop('required', false);
        }
    }
    function NativeProjectfunction() {
        // Get the checkbox
        var checkBox = document.getElementById("NativeProjectCheckbox");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            $('#NativeProject').val("true")
        } else {
            $('#NativeProject').val("false")
        }
    }
</script>

