@model SHTData.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CRSNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CRSNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestReportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestReportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SampleSubmissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SampleSubmissionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestReportReceivedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestReportReceivedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
