@model SHTData.Models.Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SHTData.Models.Product> Product = new List<SHTData.Models.Product>() { Model };
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h1>Project Information</h1>
        </div>
        <!-- Basic Example -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            <b>Product Details</b>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="m-b--35"> <b>@Model.Manufacturer.BrandName - &nbsp;</b>@Model.ProductType</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                Product Company
                                <span class="pull-right"><b>@Model.Manufacturer.BrandName</b></span>
                            </li>
                            <li>
                                Product Type
                                <span class="pull-right"><b>@Model.ProductType</b></span>
                            </li>
                            <li>
                                Project Category
                                <span class="pull-right"><b>@Model.ProjectCategory</b></span>
                            </li>
                            <li>
                                Project Status
                                <span class="pull-right"><b>@Model.ProjectStatus</b></span>
                            </li>
                            <li>
                                Product Registration Number
                                <span class="pull-right"><b>@Model.RegistrationNumber</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            <b>Indian Representative Details</b>
                        </h2>
                    </div>
                    <div class="body" style="min-height: 255px;">
                        <div class="font-bold m-b--35">REPORT</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                AIR Name
                                <span class="pull-right"><b>@Model.Manufacturer.AIRName</b></span>
                            </li>
                            <li>
                                AIR Company
                                <span class="pull-right"><b>@Model.Manufacturer.AIRCompany</b></span>
                            </li>
                            <li>
                                AIR Designation
                                <span class="pull-right"><b>@Model.Manufacturer.AIRDesignation</b></span>
                            </li>
                            <li>
                                AIR Ph. No.
                                <span class="pull-right"><b>@Model.Manufacturer.AIRPhoneNumber</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            <b>Laboratory Details</b>
                        </h2>
                    </div>
                    <div class="body" style="min-height: 255px;">
                        <div class="font-bold m-b--35">REPORT</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                Laboratory Name
                                <span class="pull-right"><b>@Model.Laboratory.Name</b></span>
                            </li>
                            <li>
                                Laboratory Location
                                <span class="pull-right"><b>@Model.Laboratory.Location</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            <b>Manufacturer Details</b>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="font-bold m-b--35">REPORT</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                Manufacturer Name
                                <span class="pull-right"><b>@Model.Manufacturer.Name</b></span>
                            </li>
                            <li>
                                Manufacturer Location
                                <span class="pull-right"><b>@Model.Manufacturer.Location</b></span>
                            </li>
                            <li>
                                Contact Person Name
                                <span class="pull-right"><b>@Model.Manufacturer.ContantName</b></span>
                            </li>
                            <li>
                                Contact Person Email
                                <span class="pull-right"><b>@Model.Manufacturer.ContactEmail</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Example -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>
                        Product's Models Exportable
                    </h2>
                </div>
                <div class="body">
                    @{
                        await Html.RenderPartialAsync("_ModelsTable", Product);
                    }

                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>