@model SHTData.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SHTData.Models.Manufacturer> ManufacturerList = (IEnumerable<SHTData.Models.Manufacturer>)ViewData["Manufacturers"];
    IEnumerable<SHTData.Models.Product> ProductList = (IEnumerable<SHTData.Models.Product>)ViewData["Products"];
    IEnumerable<SHTData.Models.Laboratory> LaboratoryList = (IEnumerable<SHTData.Models.Laboratory>)ViewData["Laboratories"];
}

<section class="content">
    <div class="container-fluid">
        <!-- Example Tab -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div role="tabpanel" class="tab-pane fade in active" id="new">
                            <form asp-action="Edit">
                                <input asp-for="Models" type="hidden" />
                                <div class="form-horizontal">
                                    <h5>Enter Product Details</h5>
                                    <hr />
                                    <div>
                                        <input type="hidden" asp-for="Models" />
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Product Type</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="ProductType" value=@Model.ProductType class="form-control" style="color:red" disabled />
                                                    <span asp-validation-for="ProductType" class="text-danger"></span>
                                                    <input id="ProductType" name="ProductType" value=@Model.ProductType class="form-control" style="color:red" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Product Category</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="ProjectCategory" value=@Model.ProjectCategory class="form-control" style="color:red" disabled />
                                                    <span asp-validation-for="ProjectCategory" class="text-danger"></span>
                                                    <input id="ProjectCategory" name="ProjectCategory" value=@Model.ProjectCategory class="form-control" style="color:red" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Project Target Date</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="TargetDate" class="form-control date" type="date" placeholder="Ex: 30/07/2016" required />
                                                    <span asp-validation-for="TargetDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <b>Manufacturer</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <select id="manufactureId" name="manufactureId" class="form-control show-tick" required>
                                                        <option value="null">Select Manufacturer</option>
                                                        @foreach (SHTData.Models.Manufacturer item in ManufacturerList)
                                                        {
                                                            if (Model.Manufacturer.Id == item.Id)
                                                            {
                                                                <option value=@item.Id selected>@item.Name -- @item.Location </option>
                                                            }
                                                            else
                                                            {
                                                                <option value=@item.Id>@item.Name -- @item.Location </option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
                                            <div class="switch panel-switch-btn">
                                                <h4>Do you have CRS Number and Product Registration Number? </h4>
                                                <label>
                                                    NO
                                                    <input type="checkbox" id="myCheck" checked onclick="myFunction()">
                                                    <span class="lever switch-col-cyan"></span>
                                                    YES
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="RegistrationAndCrs">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Product Registration Number</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="RegistrationNumber" value=@Model.RegistrationNumber class="form-control" required />
                                                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>CRS Number</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="CRSNumber" value=@Model.CRSNumber class="form-control" required />
                                                    <span asp-validation-for="CRSNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Project Status</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <select id="ProjectStatus" name="ProjectStatus" class="form-control show-tick" required>
                                                        <option>Select Project category</option>
                                                        @if (Model.ProjectStatus == "Started")
                                                        {
                                                            <option value="Started" selected>Started</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Started">Started</option>
                                                        }
                                                        @if (Model.ProjectStatus == "In Process")
                                                        {
                                                            <option value="In Process" selected>In Process</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="In Process">In Process</option>
                                                        }
                                                        @if (Model.ProjectStatus == "Query")
                                                        {
                                                            <option value="Query" selected>Query</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Query">Query</option>
                                                        }
                                                        @if (Model.ProjectStatus == "Granted")
                                                        {
                                                            <option value="Granted" selected>Certification Granted</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Granted">Certification Granted</option>
                                                        }
                                                        @if (Model.ProjectStatus == "Project Done")
                                                        {
                                                            <option value="Project Done" selected>Project Done and Payment recieved</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Project Done">Project Done and Payment recieved</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Sample Submission Date</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input asp-for="SampleSubmissionDate" class="form-control date" type="date" placeholder="Ex: 30/07/2016" required />
                                                    <span asp-validation-for="SampleSubmissionDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b>Laboratory</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <select id="laboratoryId" name="laboratoryId" class="form-control show-tick" required>
                                                        <option value="null">Select Laboratory</option>
                                                        <option value=@Model.Laboratory.Id selected>
                                                            @Model.Laboratory.Name -- @Model.Laboratory.Location
                                                        </option>
                                                        @foreach (SHTData.Models.Laboratory item in LaboratoryList)
                                                        {
                                                            if (Model.Laboratory.Id == item.Id)
                                                            {
                                                                <option value=@item.Id selected>@item.Name -- @item.Location</option>
                                                            }
                                                            else
                                                            {
                                                                <option value=@item.Id>@item.Name -- @item.Location</option>
                                                            }

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 align-center">
                                        <input type="submit" value="Submit Changes" class="btn btn-default" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Example Tab -->
    </div>
</section>
<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            $("#RegistrationAndCrs").fadeIn(400);
            $('#CRSNumber').prop('required', true);
            $('#RegistrationNumber').prop('required', true);
        } else {
            $("#RegistrationAndCrs").fadeOut(400);
            $('#CRSNumber').prop('required', false);
            $('#RegistrationNumber').prop('required', false);
        }
    }
</script>
