@model IEnumerable<SHTData.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>
                        Products Exportable
                    </h2>
                </div>
                <div class="body">
                    @{
                        await Html.RenderPartialAsync("_ProductTable", Model);
                    }

                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
